<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.dao.JingpaiSuccMapper">
  <resultMap id="BaseResultMap" type="com.auction.domain.JingpaiSucc">
    <id column="jingpai_id" jdbcType="INTEGER" property="jingpaiId" />
    <result column="market_id" jdbcType="INTEGER" property="marketId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="user_name" jdbcType="INTEGER" property="userName" />
    <result column="jingpai_price" jdbcType="INTEGER" property="jingpaiPrice" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    jingpai_id, market_id, user_id, good_id, user_name, jingpai_price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jingpai_succ
    where jingpai_id = #{jingpaiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jingpai_succ
    where jingpai_id = #{jingpaiId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.auction.domain.JingpaiSucc">
    insert into jingpai_succ (jingpai_id, market_id, user_id, 
      good_id, user_name, jingpai_price, 
      create_time, update_time)
    values (#{jingpaiId,jdbcType=INTEGER}, #{marketId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{goodId,jdbcType=INTEGER}, #{userName,jdbcType=INTEGER}, #{jingpaiPrice,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.auction.domain.JingpaiSucc">
    insert into jingpai_succ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="jingpaiId != null">
        jingpai_id,
      </if>
      <if test="marketId != null">
        market_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="jingpaiPrice != null">
        jingpai_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="jingpaiId != null">
        #{jingpaiId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=INTEGER},
      </if>
      <if test="jingpaiPrice != null">
        #{jingpaiPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.auction.domain.JingpaiSucc">
    update jingpai_succ
    <set>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=INTEGER},
      </if>
      <if test="jingpaiPrice != null">
        jingpai_price = #{jingpaiPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where jingpai_id = #{jingpaiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auction.domain.JingpaiSucc">
    update jingpai_succ
    set market_id = #{marketId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=INTEGER},
      jingpai_price = #{jingpaiPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where jingpai_id = #{jingpaiId,jdbcType=INTEGER}
  </update>
</mapper>