<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auction.dao.MarketingGoodMapper">
  <resultMap id="BaseResultMap" type="com.auction.domain.MarketingGood">
    <id column="mg_id" jdbcType="INTEGER" property="mgId" />
    <result column="market_id" jdbcType="INTEGER" property="marketId" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="market_name" jdbcType="VARCHAR" property="marketName" />
    <result column="good_code" jdbcType="VARCHAR" property="goodCode" />
    <result column="start_jinbgpai_price" jdbcType="INTEGER" property="startJinbgpaiPrice" />
    <result column="per_jinbgpai_price" jdbcType="INTEGER" property="perJinbgpaiPrice" />
    <result column="miaosha_price" jdbcType="INTEGER" property="miaoshaPrice" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    mg_id, market_id, good_id, market_name, good_code, start_jinbgpai_price, per_jinbgpai_price, 
    miaosha_price, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from marketing_good
    where mg_id = #{mgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from marketing_good
    where mg_id = #{mgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.auction.domain.MarketingGood">
    insert into marketing_good (mg_id, market_id, good_id, 
      market_name, good_code, start_jinbgpai_price, 
      per_jinbgpai_price, miaosha_price, create_time, 
      update_time)
    values (#{mgId,jdbcType=INTEGER}, #{marketId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, 
      #{marketName,jdbcType=VARCHAR}, #{goodCode,jdbcType=VARCHAR}, #{startJinbgpaiPrice,jdbcType=INTEGER}, 
      #{perJinbgpaiPrice,jdbcType=INTEGER}, #{miaoshaPrice,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.auction.domain.MarketingGood">
    insert into marketing_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mgId != null">
        mg_id,
      </if>
      <if test="marketId != null">
        market_id,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="marketName != null">
        market_name,
      </if>
      <if test="goodCode != null">
        good_code,
      </if>
      <if test="startJinbgpaiPrice != null">
        start_jinbgpai_price,
      </if>
      <if test="perJinbgpaiPrice != null">
        per_jinbgpai_price,
      </if>
      <if test="miaoshaPrice != null">
        miaosha_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mgId != null">
        #{mgId,jdbcType=INTEGER},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="marketName != null">
        #{marketName,jdbcType=VARCHAR},
      </if>
      <if test="goodCode != null">
        #{goodCode,jdbcType=VARCHAR},
      </if>
      <if test="startJinbgpaiPrice != null">
        #{startJinbgpaiPrice,jdbcType=INTEGER},
      </if>
      <if test="perJinbgpaiPrice != null">
        #{perJinbgpaiPrice,jdbcType=INTEGER},
      </if>
      <if test="miaoshaPrice != null">
        #{miaoshaPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.auction.domain.MarketingGood">
    update marketing_good
    <set>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="marketName != null">
        market_name = #{marketName,jdbcType=VARCHAR},
      </if>
      <if test="goodCode != null">
        good_code = #{goodCode,jdbcType=VARCHAR},
      </if>
      <if test="startJinbgpaiPrice != null">
        start_jinbgpai_price = #{startJinbgpaiPrice,jdbcType=INTEGER},
      </if>
      <if test="perJinbgpaiPrice != null">
        per_jinbgpai_price = #{perJinbgpaiPrice,jdbcType=INTEGER},
      </if>
      <if test="miaoshaPrice != null">
        miaosha_price = #{miaoshaPrice,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where mg_id = #{mgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auction.domain.MarketingGood">
    update marketing_good
    set market_id = #{marketId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER},
      market_name = #{marketName,jdbcType=VARCHAR},
      good_code = #{goodCode,jdbcType=VARCHAR},
      start_jinbgpai_price = #{startJinbgpaiPrice,jdbcType=INTEGER},
      per_jinbgpai_price = #{perJinbgpaiPrice,jdbcType=INTEGER},
      miaosha_price = #{miaoshaPrice,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where mg_id = #{mgId,jdbcType=INTEGER}
  </update>
</mapper>